{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>

        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2><a href="#">{{ book.name }}</a></h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date }}</p>
                </div>
            {% endfor %}
        </div>
        {% for page in page_obj %}
            <span class="current">
               {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
        {% endfor %}
    </div>
{% endblock %}